
/* Components CSS
    ========================================================================== */
.btn.app-primary {
    background-color: #4C5FF7;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 12px;
    padding: 18px 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FBFBFF;
}

.btn.app-primary.medium {
    padding: 12px 28px;
    height: 46px;
}

/* Header CSS
    ========================================================================== */
.general_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 25px 0;
}

.header-nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.header-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    background-color: #020433;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D0D5DD;
    box-shadow: 0 4px 6px -2px rgba(16, 24, 40, 0.03);
    backdrop-filter: blur(16px);
    border-radius: 12px;
}

.header-nav-item a {
    padding: 6px 16px;
    letter-spacing: 0.2px;
    color: #98A2B3;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    text-transform: capitalize;
}

.header-nav-item.active a {
    background-color: #ebecfe;
    color: #010163;
}

.social-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 153px;
}

.general_header.light {
    background-color: #fbfaff;
}

.general_header.light + .general_main {
    padding-top: 160px;
}

.general_header.light .header-nav {
    background-color: #fff;
    border: 1px solid #D0D5DD;
    box-shadow: 0 4px 6px -2px rgba(16, 24, 40, 0.03);
    backdrop-filter: blur(16px);
}


/* Hero Slider CSS
    ========================================================================== */
.hero-outer {
    position: relative;
}

.hero-background {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}


/* Company Slider CSS
    ========================================================================== */
.app-company-outer {
    background-color: #fbfaff;
    padding: 64px 0;
}

/* Services Section CSS
    ========================================================================== */
.services-section {
    padding-top: 64px;
    margin-bottom: 100px;
}

.services-icon {
    border: 8px solid #EBEDFF;
    background-color: #C9CFFF;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom:  20px;
}

.services-head {
    margin-bottom: 80px;
}

.macbook-section {
    position: absolute;
    background: #F9FAFB;
    border-radius: 24px;
    padding-top: 60px;
    padding-bottom: 30px;
    left: 25px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.hand-drawn {
    position: absolute;
    right: -200px;
    bottom: 0;
}


/* Footer Section CSS
    ========================================================================== */
.footer-section {
    height: 200px;
    background: #FBFBFF;
    border: 1px solid #EAECF0;
    box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 16px;
    padding: 15px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -80px;
    position: relative;
    z-index: 2;
}

.general_footer {
    background: #010163;
}

.general_footer .container {
    padding-top: 150px;
    display: flex;
    padding-bottom: 60px;
    align-items: center;
    justify-content: center;
}

.linear-1 {
    left: 0;
    bottom: 0;
    position: absolute;
}

.linear-2 {
    right: 15px;
    top: 80px;
    position: absolute;
    bottom: 0;
}

.profile-outer {
    margin-bottom: 100px;
}

.app-list li {
    padding-left: 15px;
    position: relative;
    margin-bottom: 25px;
    font-weight: 300;
}

.app-list li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #344054;
}

.contact-form {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.input-primary {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 14px;
}

.input-group-text {
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.input-primary.search {
    padding-left: 40px;
}

.app-secondary {
    padding: 10px 28px;
    background: #4C5FF7;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #fff;
}

input::placeholder, textarea::placeholder {
    font-weight: 300!important;
    color: #98A2B3;
}

input:focus, textarea:focus {
    border: 1px solid #4C5FF7 !important;
    box-shadow: 0 0 0 4px #EBEDFF, 0 1px 2px rgba(16, 24, 40, 0.05) !important;
}